body{
    height: 100vh;
    width: 100%;
    background: 
    
     center / cover no-repeat
      url(images/pic5.jpg) ;

}
.container{
    background-position: center;
    background-size: cover;
    position: absolute;
    /* z-index: -1; */
}

.form-box{
    width: 406px;
    height: 565px;
    position: relative;
    margin: 6% 50%;
    background: rgb(226,226,226);
    padding: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px
     rgba(0,0,0,0.22);
     border-radius: 5px;
     overflow: hidden;
}

.button-box{
    widows: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff6124;
    border-radius: 30px;
    /* background: linear-gradient(to right, #ff4b2b ,#ff416c); */
    cursor: pointer;
}

.button{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    /* outline: none; */
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    /* outline: none; */
    width:210px;
    height: 100%;
    background: linear-gradient(to right,#ff4b2b,#ff416c);
    border-radius: 50px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 325px;
    transition: .5s;
    /* display: none; */
}
.input-group.show{
    top: 180px;
    position: absolute;
    width: 325px;
    transition: .5s;
    display: none;
}

.input-group1{
    left: 430px;
    bottom: 40px;
    position: absolute;
    width: 325px;
    transition: .5s;
}
.input-group1.show{
    left: 4px;
    position: absolute;
    width: 325px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 3px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
   
}

.submit-btn{
    width: 85%;
    padding: 7px 15px;
    cursor: pointer;
    display: block;
    margin-top: 70px;
    background: linear-gradient(to right, #ff4b2b ,#ff416c);
    border: 0;
    outline: none;
    border-radius: 30px;
}

label{
    font-size: 20
    px;
    margin-bottom: -0.5rem;
}

.password{
    margin-top: 10px;
    font-size: 1.3rem;
}

.para1{
    font-size: 1.1rem;
    text-align: justify;

}

/* #costumer-login{
    left:6px;
}

#hotel-login{
    left:450px
}
#hotel-login1{
    left:0px
}
 */
